*{
    margin: 0;
    padding: 0;



}




.main{
    width: 100%;
    background: url(images/background\ 6.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;


}

.navbar{
    width: 1200px;
    height; 75px;
    margin;  align-self: auto;

    
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    
}

.logo{
    color:rgb(226, 101, 174);
    Font-size: 40px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;


}

.menu{
    width: 400px;
    float: left;
    height: 70px
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 27px;
    font-size: 14px;
    
}

ul li a{
    text-decoration: none;
    color:white;
    font-family: Arial;
    font-weight: bold
    transition: 0.4s;



}



